*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'vazir' !important;
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
}

.container{
  width: 1320px;
  margin: auto;
  padding: 0 30px;
}

.main-website{
  width: 100%;
  display: flex;
}

header{
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

a{
  color: #555;
  letter-spacing: 2px;
}
a:hover{
  color: rgb(87, 212, 243);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li{
  margin-left: 20px;
}


.menu{
  display: none;
}

.users{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}




/* detail */

.details{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}







@media (max-width: 1200px){
  .container{
    width: 1170px
  }
  .products .card{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-top: 35px;
  }
}
@media (max-width: 992px){
  .container{
    width: 960px
  }
}
@media (max-width: 768px){
  .container{
    width: 720px
  }
  header ul{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .98;
    z-index: 99;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    
}

.menu{
  display: block;
  cursor: pointer;
}
header ul li .menu{
  position: absolute;
  top: 20px;
  right: 20px;
}
}
@media (max-width: 576px){
  .container{
    width: 100%;
  }
  header{
    justify-content: space-between;
  }

  .details{
    padding: 0;
  }


}




